# Dependencies
node_modules/
package-lock.json

# Build artifacts
dist/

# Dev tools
.genkit/
server-*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Others
ignored_files/
linkedin_projects.md
CVpt_FELIPE-FREITAS_0726.pdf
